.survey-input{
    width: 75%;
    float: right;
}
.input-label {
    width: 100%;
    font-weight: bold;
    text-align:left !important;
}
.question-title{
    font-weight: bold;
}
.survey-textarea {
    height: 150px;
}
.card{
    margin-top: 10px;
}
.questions-wrapper{
    width: 100%;
}
.example-title-input{
    width: 100%;
}
.example-input{
    margin-top: 10px;
}
#status-label{
    font-style: italic;
    font-weight: normal;
}
.center-children{
    display: flex;
    align-items: center;
    justify-content: center;
}
.slider-wrapper{
    height:150px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.error-label{
    color: red;
    font-weight: bold;
    padding-left: 10px;
}
.remove-question-button {
    margin-top: 15px;
}